{% load static %}

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>eeFood</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a href="/" class="navbar-brand">
              <font size="7" face="Comic Sans MS" color="#f8f8ff">eeFooD</font> 
            </a>
            <ul class="navbar-nav ml-auto">
              {% if request.user.is_anonymous %}
              <li class="nav-item">
                <a href="{% url 'signup' %}" class="nav-link">
                  <font color="#f5f5f5">Sign up</font>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'login' %}" class="nav-link">
                  <font color="#f5f5f5">Login</font>
                </a>
              </li>
              {% else %}
              <li class="nav-item">
                  <a href="{% url 'profile' user.username %}" class="nav-link">
                    <font color="#f5f5f5">Profile</font>
                  </a>
              </li>
              <li class="nav-item">
                  <a href="{% url 'logout' %}" class="nav-link">
                    <font color="#ff3333">Logout</font>
                  </a>
              </li>
              {% endif %}
            </ul>
        </div>
    </nav>
    <main>
      <div class="container">{% block content %} {% endblock %}</div>
    </main>

    <footer class="py-2 bg-dark">
      <p class="m-0 text-center text-white">
        Copyright &copy; eeFooD 2023
      </p>
    </footer>

    {% block extra_js %} {% endblock %}
  </body>
</html>