{% extends 'application/base.html' %}

{% block content %}
<div class="my-5">
    <div class="row restaurant">
        <div class="col-md-6 mb-4 text-center">
            <img src="{{ restaurant_data.img.url }}" alt="" class="imag-fluid">
        </div>

        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body px-2 py-1">
                    <div class="p-4">
                        <h3>{{ restaurant_data.name }}</h3>
                        <p class="mb-3">{{ restaurant_data.Genre }}</p>
                        <hr>
                        <p>Phone: <span class="text-danger font-weight-bold">{{ restaurant_data.phone }}</span></p>
                        <p>{{ restaurant_data.addr }}</p>
                        <a href="{% url 'reservation' restaurant_data.pk %}" class="btn btn-primary">Make Reservation</a>
                        <a href="{% url 'restaurant_review' pk=restaurant_data.pk %}" class="btn btn-primary">Add Review</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if restaurant_data.reviews.count > 0 %}
    <div class="wide-card">
        <h2>Reviews:</h2>
        <div class="col-md-6 mb-4">
            {% for review in restaurant_data.reviews.all %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title">{{ review.title }}</h2>
                        <p class="card-text">{{ review.comment }}</p>
                        <p class="star-rating">
                            {% for i in review.get_rate_display %}★{% endfor %}
                        </p>
                    </div>
                    <div class="card-footer text-muted">
                        {{ review.created|date }} by {{ review.author }}
                        {% if review.author == user %}
                            <a href="{% url 'review_edit' pk=review.pk %}" class="btn btn-primary">Edit</a>
                            <a href="{% url 'review_delete' review.pk %}" class="btn btn-danger">Delete</a>
                        {% endif %}
                    </div>
                </div>
            {% empty %}
                <p>No reviews yet.</p>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}