{% extends 'application/base.html' %}

{% block content %}
  <h1>Restaurant List</h1>
  <form method="GET">
    <input type="text" name="name" placeholder="Name" value="{{ request.GET.name }}">
    <input type="text" name="genre" placeholder="Genre" value="{{ request.GET.genre }}">
    <input type="submit" value="Search">
  </form>
  {% if restaurants %}
    {% for restaurant in restaurants %}
      <h2>{{ restaurant.name }}</h2>
      <p>{{ restaurant.addr }}</p>
      <p>{{ restaurant.Genre }}</p>
      <p>{{ restaurant.phone }}</p>
      {% if restaurant.img %}
        <img src="{{ restaurant.img.url }}" width="200px">
      {% endif %}
      <hr>
    {% endfor %}
    <div class="pagination">
      <span class="step-links">
          {% if restaurants.has_previous %}
              <a href="?{% if request.GET.name %}name={{ request.GET.name }}&{% endif %}{% if request.GET.genre %}genre={{ request.GET.genre }}&{% endif %}page=1">&laquo; first</a>
              <a href="?{% if request.GET.name %}name={{ request.GET.name }}&{% endif %}{% if request.GET.genre %}genre={{ request.GET.genre }}&{% endif %}page={{ restaurants.previous_page_number }}">previous</a>
          {% endif %}

          <span class="current-page">
              Page {{ restaurants.number }} of {{ restaurants.paginator.num_pages }}.
          </span>

          {% if restaurants.has_next %}
              <a href="?{% if request.GET.name %}name={{ request.GET.name }}&{% endif %}{% if request.GET.genre %}genre={{ request.GET.genre }}&{% endif %}page={{ restaurants.next_page_number }}">next</a>
              <a href="?{% if request.GET.name %}name={{ request.GET.name }}&{% endif %}{% if request.GET.genre %}genre={{ request.GET.genre }}&{% endif %}page={{ restaurants.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
      </span>
    </div>
  {% else %}
    <p>No restaurants found.</p>
  {% endif %}
{% endblock %}
