{% extends 'application/base.html' %}

{% block content %}

<h2 class="my-4">{{ review_data.title}}</h2>
<hr>
<p>{{ review_data.created }} by {{ review_data.author }}</p>
<hr>
<p>{{ review_data.comment|linebreaksbr }}</p>
{% if user.is_authenticated %}
    <hr>
    <div class="d-flex mb-5">
        <a href="{% url 'review_edit' review_data.id %}" class="btn btn-warning mr-2">Modify</a>
        <a href="{% url 'review_delete' review_data.id %}" class="btn btn-danger">Delete</a>
    </div>
{% endif %}

{% endblock %}