* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    background: #f1f1f1;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}
  
main {
    flex: 1;
}

.card-profile {
    width: 700px;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.1);
}
  
.button {
    width: 150px;
}
  
.btn {
    font-size: 80%;
    border-radius: 5rem;
    font-weight: bold;
}
  
.profile_table {
    width: 100%;
    border: 1px solid #d1dbeb;
    border-radius: 8px;
    border-collapse: separate;
    overflow: hidden;
}
  
.profile_table .header {
    width: 200px;
    padding: 16px 24px;
    text-align: left;
    background: #f1f5fa;
}
  
.profile_table .data {
    padding: 16px 24px;
}

.formpost {
    margin-bottom: 1rem;
}

/* reviewの枠の大きさ */
.wide-card {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.star-rating {
    color: #FFD700;
  }
  
  .business-hours li {
    color: red;
}


/* body {
    font-family: "Helvetica Neue", sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.5;
  }
  
  
  .navbar-brand {
    font-size: 30px;
    font-weight: bold;
  }
  
  .nav-link {
    font-size: 18px;
    font-weight: bold;
    color: #f5f5f5;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-link:hover {
    color: #fff;
  }
  
  
  .container {
    margin-top: 50px;
  }
  
  h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  ul {
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  a:hover {
    color: #ff3333;
  }
   */

  