body {
    background: #f1f1f1;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}
  
main {
    flex: 1;
}

.itemlist img{
    height: 150px;
    object-fit: contain;
}

.restaurant img{
    height: 350px;
    object-fit: contain;
}