{% extends "application/base.html" %}

{% block content %}

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h1 style="font-size: 3em;">List of eeFood Tools</h1>
        <p style="font-size: 1.2em;">eeFood offers a variety of useful tools. The following are some of them:</p>
        <ul style="font-size: 1.2em;">
          <li>Post a review of the restaurant.</li>
          <li>Post a menu of the restaurant.</li>
          <li>Know the store's phone number, address, and hours of operation.</li>
          <li>Add information about the actual restaurant you visited.</li>
          <li>Search by restaurant name or by genre.</li>
          <li>You can find restaurants with high review ratings.</li>
          <li>You can view your favorite restaurants on your profile page.</li>
          <li>You can make reservations at the store.</li>
          <li>Create an eeFood account.</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

