{% extends 'application/base.html' %}

{% block content %}
<div class="card card-profile my-5 mx-auto">
    <div class="card-body">
        <h2>Profile</h2>
        <table class="profile_table mb-4">
            <tbody>
                <tr>
                    <th class="header">Name:</th>
                    <td class="data">{{ user.username }}</td>
                </tr>
                <tr>
                    <th class="header">Email:</th>
                    <td class="data">{{ user.email }}</td>
                </tr>
            </tbody>
        </table>
        <div class="button mx-auto">
            <a href="{% url 'modification' %}" class= "btn btn-warning">Modify</a>
        </div>
    </div>
</div>
<div class="card card-profile my-5 mx-auto">
    <div class="card-body">
        <h2>Your Reservation</h2>
        {% for reservation in reservation %}
            <table class="profile_table mb-4">
                <tbody>
                    <tr>
                        <th class="header">Restaurant name:</th>
                        <td class="data">{{ reservation.restaurant }}</td>
                    </tr>
                    <tr>
                        <th class="header">Date:</th>
                        <td class="data">{{ reservation.date }}</td>
                    </tr>
                    <tr>
                        <th class="header">time:</th>
                        <td class="data">{{ reservation.get_time_display }}</td>
                    </tr>
                    <tr>
                        <th class="header">Number of people:</th>
                        <td class="data">{{ reservation.num_people }}</td>
                    </tr>
                    <tr>
                        <th class="header"></th>
                        <td class="data">
                            <div class="box" align="right">
                                <a href="{% url 'reservation_update' reservation.pk %}" class="btn btn-primary">Rebook</a>
                                <a href="{% url 'reservation_delete' reservation.pk %}" class="btn btn-danger">Cancel</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        {% endfor %}
    </div>
</div>

{% endblock %}