{% extends 'application/base.html' %}
    
    {% block content %}
{% comment %} {% extends 'application/base.html' %}

{% block content %}
<div class="my-5">
    <div class="row restaurant">
        <div class="col-md-6 mb-4 text-center">
            <img src="{{ restaurant_data.img.url }}" alt="" class="imag-fluid">
        </div>

        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body px-2 py-1">
                    <div class="p-4">
                        <h3>{{ restaurant_data.name }}</h3>
                        <p class="mb-3">{{ restaurant_data.Genre }}</p>
                        <hr>
                        <p>Phone: <span class="text-danger font-weight-bold">{{ restaurant_data.phone }}</span></p>
                        <p>{{ restaurant_data.addr }}</p>
                            <p><strong>Business Hours:</strong></p>
                            <li>Monday: {{ restaurant_data.monday_hours }}</li>
                            <li>Tuesday: {{ restaurant_data.tuesday_hours }}</li>
                            <li>Wednesday: {{ restaurant_data.wednesday_hours }}</li>
                            <li>Thursday: {{ restaurant_data.thursday_hours }}</li>
                            <li>Friday: {{ restaurant_data.friday_hours }}</li>
                            <li>Saturday: {{ restaurant_data.saturday_hours }}</li>
                            <li>Sunday: {{ restaurant_data.sunday_hours }}</li>  
                        <hr>                    
                        <a href="{% url 'reservation' restaurant_data.pk %}" class="btn btn-primary">Make Reservation</a>
                        <a href="{% url 'restaurant_review' pk=restaurant_data.pk %}" class="btn btn-primary">Add Review</a>
                        <a href="{% url 'add_menu' pk=restaurant_data.pk %}" class="btn btn-primary">Add Menu</a>
                        <form method="POST" action="{% url 'favorite' restaurant_data.name %}">
                            {% csrf_token %}
                            <hr>
                            <button type="submit" class="btn btn-warning"> Add to favorites</button>
                        </form>
                        <hr>
                        <h2>Menu</h2>
                        <div class="row">
                            {% for menu_item in menu_items %}
                                <div class="col-md-6 mb-4">
                                    <div class="card">
                                        <img src="{{ menu_item.image.url }}" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ menu_item.name }}</h5>
                                            <p class="card-text">Price: {{ menu_item.price }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% empty %}
                                <p>No menu items available.</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if restaurant_data.reviews.count > 0 %}
    <div class="wide-card">
        <h2>Reviews:</h2>
        {% if avg_rate_round %}
            <h4>Average rate: {{ avg_rate_round }}</h4>
        {% endif %}
            {% for review in restaurant_data.reviews.all %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title">{{ review.title }}</h2>
                        <p class="card-text">{{ review.comment }}</p>
                        {% if review.image %}
                        <img src="{{ review.image.url }}" alt="Review Image" class="img-fluid">
                        {% endif %}
                        <p class="star-rating">
                            {% for i in review.get_rate_display %}★{% endfor %}
                        </p>
                    </div>
                    <div class="card-footer text-muted">
                        {{ review.created|date }} by {{ review.author }}
                        {% if review.author == user %}
                            <a href="{% url 'review_edit' pk=review.pk %}" class="btn btn-primary">Edit</a>
                            <a href="{% url 'review_delete' review.pk %}" class="btn btn-danger">Delete</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <p>No reviews yet.</p>
        {% endif %}
    </div>
    
    {% endblock %} {% endcomment %}
    
    
<div class="my-5">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center mb-4">
      <img src="{{ restaurant_data.img.url }}" alt="{{ restaurant_data.name }}" class="img-fluid">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">{{ restaurant_data.name }}</h3>
          <p class="mb-3">{{ restaurant_data.Genre }}</p>
          <p class="mb-3">Phone: <span class="text-danger font-weight-bold">{{ restaurant_data.phone }}</span></p>
          <p class="mb-3">{{ restaurant_data.addr }}</p>
          <p>{{ restaurant_data.addr }}</p>
            <p><strong>Business Hours:</strong></p>
            <li>Monday: {{ restaurant_data.monday_hours }}</li>
            <li>Tuesday: {{ restaurant_data.tuesday_hours }}</li>
            <li>Wednesday: {{ restaurant_data.wednesday_hours }}</li>
            <li>Thursday: {{ restaurant_data.thursday_hours }}</li>
            <li>Friday: {{ restaurant_data.friday_hours }}</li>
            <li>Saturday: {{ restaurant_data.saturday_hours }}</li>
            <li>Sunday: {{ restaurant_data.sunday_hours }}</li>  
          <hr>                                       
          <a href="{% url 'reservation' restaurant_data.pk %}" class="btn btn-primary">Make Reservation</a>
          <a href="{% url 'restaurant_review' pk=restaurant_data.pk %}" class="btn btn-primary">Add Review</a>
          <a href="{% url 'add_menu' pk=restaurant_data.pk %}" class="btn btn-primary">Add Menu</a>
          <form method="POST" action="{% url 'favorite' restaurant_data.name %}">
            {% csrf_token %}
            <hr>
            <button type="submit" class="btn btn-warning"> Add to favorites</button>
          </form>
          <hr>
          <h2>Menu</h2>
          <div class="row">
            {% for menu_item in menu_items %}
            <div class="col-md-6 mb-4">
              <div class="card">
                <img src="{{ menu_item.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ menu_item.name }}</h5>
                  <p class="card-text">Price: $ {{ menu_item.price }}</p>
                  <a href="{% url 'menu_edit' pk=menu_item.pk %}" class="btn btn-primary">Edit</a>
                  <a href="{% url 'menu_delete' pk=menu_item.pk %}" class="btn btn-danger">Delete</a>
                </div>
              </div>
            </div>
            {% empty %}
            <p>No menu items available.</p>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if restaurant_data.reviews.count > 0 %}
  <div class="row justify-content-center mt-4">
    <div class="col-md-8">
      <h2>Reviews:</h2>
      {% if avg_rate_round %}
      <h4>Average rate: {{ avg_rate_round }}</h4>
      {% comment %} {% else %}
      <p>No reviews yet.</p> {% endcomment %}
      {% endif %}
      {% for review in restaurant_data.reviews.all %}
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title">{{ review.title }}</h2>
          <p class="card-text">{{ review.comment }}</p>
          {% if review.image %}
          <img src="{{ review.image.url }}" alt="Review Image" class="img-fluid">
          {% endif %}
          <p class="star-rating">
            {% for i in review.get_rate_display %}★{% endfor %}
        </div>
        <div class="card-footer text-muted">
          {{ review.created|date }} by {{ review.author }}
          {% if review.author == user %}
          <a href="{% url 'review_edit' pk=review.pk %}" class="btn btn-primary">Edit</a>
          <a href="{% url 'review_delete' review.pk %}" class="btn btn-danger">Delete</a>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% else %}
<div class="row justify-content-center mt-4">
  <div class="col-md-8">
    <p>No reviews yet.</p>
  </div>
</div>
{% endif %}
</div>
{% endblock %}  
